.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom right, #020e27 , rgb(49, 51, 78));;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html {
  background-image: linear-gradient(to bottom right, rgb(26, 15, 87), rgb(0, 0, 0));;
  /* overflow-y: hidden; */
}

.username img {
  width: 25px;
}

.bg-card {
  background-image: linear-gradient(to bottom left, rgb(34, 11, 84), rgb(0, 0, 0));;
  /* overflow-y: hidden; */
}

.font-title {
  font-family: 'Raleway', sans-serif;
}
